@import "../constants";

@mixin addLineTop() {
  &::before {
    content: "";

    display: block;
    width: 150px;
    height: 2.5px;
    margin-bottom: 5px;

    background-color: $secondary-bg;
  }
}
