@mixin form-input {
  background: none;
  border: none;

  border: 2px solid $primary-dark;
  border-radius: 5px;

  padding: 5px 0 5px 2.5px;
}

.form-control {
  display: flex;
  flex-direction: column;

  input {
    @include form-input();
  }

  select {
    @include form-input();
  }
}
