.main-footer {
  background-color: $secondary-bg;
  color: $text;
  padding: 10px 0;
  margin-top: 15px;

  &__link {
    text-decoration: none;
    font-size: 0;
    svg {
      max-width: 35px;
      max-height: 35px;
      background-color: white;
      color: blue;
      clip-path: polygon(9% 8%, 91% 9%, 90% 91%, 8% 91%);
    }
  }

  .info {
    max-width: 360px;
    &-key {
      width: 17px;
      height: 17px;
      margin-right: 10px;
    }
  }

  .socials {
    text-align: right;
  }
}
