.main-nav {
  background-color: $primary-bg;
  color: $text;

  .list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

    &__item {
      padding: 10px;
    }

    &__link {
      color: $text;
      text-decoration: none;
      font-weight: 500;
    }
  }
}
