extends ../layouts/main.pug

block head
    +metaData({title : "404 Page",
        desciption :"Page Not Found. \n No logramos encontrar tu p치gina.",
        keywords:["404 page"],
        canonical: "/404"
    })
    style.
        main {
            min-height: 415px;
            display:flex;
            flex-direction:column;
            justify-content:center;
        }
        h1{
            font-size:80px;
            margin:0;
        }
        .subtitle{
            margin:0;
            font-size:15px;
        }
block content 
    .container
        main.text-center
            div.box
                h1 404
                p.subtitle Page not found
            p No se encontr칩 la p치gina deseada
                span(style="display:block;") trate de recargar la p치gina o regresar al 
                    a(href="/") inicio