extends ../layouts/main.pug

block prepend head 
    -const headTitle = "About"
    -const headDescription = "Quienes somos?"
    link(rel="stylesheet", href="/css/about.css")

block content 
    main.container.about
        h1.about__title Somos una empresa dedicada 
        p.about__paragraph  A la Fabricación de muebles de melamine, especialistas en acabados de alta calidad 
            strong.about__paragraph-strong Somos "Estilos & Diseños WEM"
        
        iframe.map(src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d62459.57109191422!2d-77.057456!3d-11.924342!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x9105d10799eeb0d9%3A0xaf1b1d1ee1d21fd5!2sSan%20Pedro%2C%20Comas%2015316!3m2!1d-11.9071495!2d-77.06549489999999!5e0!3m2!1ses-419!2spe!4v1628536337990!5m2!1ses-419!2spe",width="600",height="450",style="border:0;",allowfullscreen="",loading="lazy")