extends ../layouts/main.pug

block prepend head 
    +metaData({
        title: "Galery",
        description : "Galería de Fotos \n Fotos de trabajos realizados"
    })
    link(rel="stylesheet", href="/css/galery.css")

block content 
    main.container.galery 
        each mainFolder in Object.keys(galery)
            each folder in Object.keys(galery[mainFolder])
                .folder-box
                    button.folder__button(type="button",data-folder=mainFolder,data-site=folder)
                        svg 
                            use(xlink:href="assets/images/icons/search-plus.svg#img")
                    img(data-src=galery[mainFolder][folder][0], alt=mainFolder + " " + folder,loading="lazy")

block scripts 
    script(src="/js/galery.js")
    script(src="/js/lazy-images.js")