extends ../layouts/main.pug

block prepend head 
    +metaData({
        title: "Galery",
        description : "Galería de Fotos \n Fotos de trabajos realizados",
        keywords:["galeria","estilos","diseños","wem"],
        canonical: "/galery"
    })

block content 
    #root