extends ../layouts/main.pug

block head 
    link(rel="stylesheet", href="/css/index.css")
    meta(property="og:title",content="Estilos & Dise単os WEM")
    meta(property="og:description",content="Estilos & Dise単os WEM")
    meta(property="og:image",content="/assets/images/logo.png")
block content
    main
        .presentation
            .presentation__text.container
                h1 Estilos & Dise単os WEM
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ad qui laudantium consectetur et quo id sunt nihil atque commodi ea, accusamus aut iusto ex. Perferendis optio repellendus quo aperiam!
            .presentation__images
                each item in main_data
                    -const lista = item.split("/")
                    img(data-src=item,alt=lista[lista.length - 1].split(".")[0],loading="lazy")
    section.sites 
        h2 Muebles
        article 
            h1 Muebles para Ba単os
            p 
    section.works
block scripts 
    script(src="/js/index.js") 
    script(src="/js/lazy-images.js") 