.about {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about__paragraph-strong {
  display: block;
}

.about__map {
  display: block;
  margin: 0 auto;

  max-width: 100%;
}

@media screen and (min-width: 900px) {
  .about {
    flex-direction: row;
    align-items: center;
  }
}
