.about {
  display: flex;
  flex-direction: column-reverse;
}
.about__text {
  text-align: center;
}

.about__paragraph {
  line-height: 20px;
}

section h2::before {
  content: "";
  display: block;
  width: 150px;
  height: 2.5px;

  background-color: #212121;
  margin-bottom: 5px;
}

.about__image {
  position: relative;
  max-height: 350px;
}

.about__image-w {
  max-width: 100%;
  max-height: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__logo {
  position: absolute;
  bottom: 0;
  right: 10px;

  mix-blend-mode: multiply;
  filter: brightness(1.1);

  max-width: 100px;
}

.about__map {
  display: block;
  margin: 0 auto;

  max-width: 100%;
}
