$text: white;

$primary-bg: #dd2c00;
$primary-light: #ff6434;
$primary-dark: #a30000;

$base-bg: hsla(100, 100, 100, 0.9);
$secondary-bg: #212121;
$secondary-light: #484848;
$secondary-dark: #000000;
