@import "./helpers/viewFullImage";
@import "./constants";

.furniture {
  background-color: $secondary-bg;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 350px;
    height: 350px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 100%;
    }
  }
}

.miniGalery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5px 10px;

  &__image {
    max-width: 100%;
    max-height: 200px;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    cursor: pointer;

    box-shadow: 1px 1px 2px black;
  }
}

.viewFullImage {
  @include ViewFullImageContainer;

  &__box {
    @include ViewFullImageBox;
    width: unset;
    height: unset;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;

    object-fit: cover;
  }
}

@media screen and (min-width: 450px) {
  .viewFullImage {
    &__box {
      height: 100%;
    }
  }
}

@media screen and(min-width:900px) {
  .furniture {
    max-height: 400px;

    &__box {
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
}
