footer.main-footer
    .container
        .info
            p
                span.info-key Ubicación : 
                |   Av. Universitaria,10101 15316 Comas, Peru
            p
                span.info-key Teléfono : 
                |   980113980
        .socials
            a.main-footer__link(href="https://www.facebook.com/Estilos-Dise%C3%B1os-WEM-104722411267012/",target="_blank")
                svg
                    use(xlink:href="assets/images/icons/facebook.svg#img")
        
        