footer.main-footer
    .container
        .info
            h2 Visitanos
            p
                svg.info-key
                    use(xlink:href="/assets/images/icons/map-marker.svg#img")
                span Av. Universitaria,10101 15316 Comas, Peru
            p
                svg.info-key
                    use(xlink:href="/assets/images/icons/phone.svg#img") 
                span 980113980
        .socials
            a.main-footer__link(href="https://www.facebook.com/Estilos-Dise%C3%B1os-WEM-104722411267012/",target="_blank") Facebook
                svg
                    use(xlink:href="/assets/images/icons/facebook.svg#img")
        
        