header.main-header
    .container 
        img.main-header__logo(src="assets/images/logo.png",loading="lazy", alt="Company logo")
        .main-header__rigth
            svg.main-header__phone
                use(xlink:href="assets/images/icons/phone.svg#img")
            span 980113980