header.main-header
    .container.main-header__box
        img.main-header__logo(src="/assets/images/logo.png",loading="lazy", alt="Company logo")
        .main-header__rigth
            svg.main-header__phone
                use(xlink:href="/assets/images/phone.svg#img")
            span 980113980
    include ./navegation.pug