nav.main-nav
    .container 
        ul.list
            li.list__item: a.list__link(href="/") Inicio
            li.list__item: a.list__link(href="/about.html") Quienes Somos?
            li.list__item: a.list__link(href="/galery.html") Galería de Fotos