nav.main-nav
    .container 
        ul.list
            li.list__item: a.list__link(href="/") Inicio
            li.list__item: a.list__link(href="/about") Quienes Somos?
            li.list__item: a.list__link(href="/galery") Galería de Fotos